

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-control-inner-background: derive(#ffffff,20%);
}

.text-area {
    -fx-background-color: gold;
    -fx-control-inner-background: black;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
}
